@model IEnumerable<HFWebsiteA7.Models.DinnerSession>

@{
    ViewBag.Title = "Dinner in Haarlem";
}

<div class="container">
    <div class="col-sm-6">
        <h2>Dinner in Haarlem</h2>
        Dinner in Haarlem makes it easy for you to find a restaurant in the centrum of Haarlem. On this page you will find all the participating restaurants and a little bit of information about them. For each restaurant there are three timeslots, which can be found by pressing the information button of your desired restaurant. The price shown on this page is the normal price, for children under 12 years there is a reduced price. This price can also be found by pressing the information button.
    </div>
</div>



</table>
