<div class="row">
    <div class="form-group">
        <h4 class="titleStyle">Name</h4>
        <div class="col-md-10">
            <input type="text" id="DialogName" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-horizontal">
            <div class="form-group">
                <h4 class="titleStyle">Street</h4>
                <div class="col-md-10">
                    <input type="text" id="DialogStreet" />
                </div>
            </div>
            <div class="form-group">
                <h4 class="titleStyle">HouseNumber</h4>
                <div class="col-md-10">
                    <input type="text" id="DialogHouseNumber" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-horizontal">


            <div class="form-horizontal">
                <div class="form-group">
                    <h4 class="titleStyle">City</h4>
                    <div class="col-md-10">
                        <input type="text" id="DialogCity" />
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="titleStyle">Zipcode</h4>
                    <div class="col-md-10">
                        <input type="text" id="DialogZipCode" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <input type="submit" value="Save" class="mLinkButton" onClick="saveLocationData()" />
    </div>
    <div>
        <div class="col-md-2">
            <button onclick="cancelAddDialog()" class="mLinkButton">Cancel</button>
        </div>

    </div>
</div>
