body {
    padding-top: -50px;
    padding-bottom: 20px;
    background-color: #C1B4AE !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar {
    background-color: #92140c;
}

.nav.navbar-nav li a {
    color: #FFFFFF;
    font-family: Arial Bold, Arial;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    
}
    
.nav.navbar-nav li a:hover {
        background-color: #cc3300;
    }
    

.navbar-inverse .navbar-nav .active a {
    background-color: #be7c4d;
}

.navbar-inverse .navbar-nav .active a:hover {
        background-color: #be7c4d;
}
.navbar-right {
    margin: 0;
}
.span3 {

    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    outline: 1px solid black;
}

.mLinkButton {
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    background: #353238;
    padding: 5px 10px 5px 10px;
    margin-top: 15px;
    border: solid #797979 1px;
    text-decoration: none;
}

.mLinkButton:hover {
    background: #353238;
    text-decoration: none;
}

.mLinkButton:active {
    position: relative;
    top: 1px;
}

.img-divide-center{
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.triple-img {
    position: relative;
    top: -25px;
    right: -20px;
}

.back-button-thursday {
    background: url("~/Content/Content-images/JazzImages/DetailPage/DividerSideStripesBackArrow.png")
}

.book-now-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.home-quad-img {
    position: relative;
    top: -25px;
}

.inner {
    margin: auto;
    text-align: center;
}

.adminSelection{
    margin-top: 25px;
    margin-bottom: 25px;
}
.col-sm-3 a {
    color: black;
}
.col-sm-3 a:hover{
    text-decoration: underline;
}
a.mLinkButton {
    color:white;
}

.restauranttitle {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.restaurantimage {
    width: 245px;
    height: 150px;
    border: 1px solid #021a40;

}
.restaurantboldarial {
    font-family: 'Arial Bold' 'Arial'; 
    font-weight: 700; 
    font-style: normal; 
    font-size: 15px; 
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
}
.restaurantarial {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}