body {
    padding-top: -50px;
    padding-bottom: 20px;
    background-color: #C1B4AE; 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar {
    background-color: #92140c;
}

.nav.navbar-nav li a {
    color: #FFFFFF;
    font-family: Arial Bold, Arial;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.banner {
    background-image: url("/Content/Content-images/banner.jpg");
    background-repeat: round;
    height: 300px;
}
.navbar-inverse .navbar-nav .active a {
    background-color: #be7c4d;
}

.navbar-inverse .navbar-nav .active a:hover {
        background-color: #be7c4d;
}
.navbar-right {
    margin: 0;
}
.span3 {

    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    outline: 1px solid black;
}

.mLinkButton {
    -moz-box-shadow: inset 0 1px 0 0 #353238;
    -webkit-box-shadow: inset 0 1px 0 0 #353238;
    box-shadow: inset 0 1px 0 0 #353238;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #353238), color-stop(1, #353238));
    background: -moz-linear-gradient(top, #353238 5%, #353238 100%);
    background: -webkit-linear-gradient(top, #353238 5%, #353238 100%);
    background: -o-linear-gradient(top, #353238 5%, #353238 100%);
    background: linear-gradient(to bottom, #353238 5%, #353238 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353238', endColorstr='#353238',GradientType=0);
    background-color: #353238;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #54381e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 10px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #4d3534;
}

.mLinkButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #353238), color-stop(1, #353238));
    background: -moz-linear-gradient(top, #353238 5%, #353238 100%);
    background: -webkit-linear-gradient(top, #353238 5%, #353238 100%);
    background: -o-linear-gradient(top, #353238 5%, #353238 100%);
    background: linear-gradient(to bottom, #353238 5%, #353238 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353238', endColorstr='#353238',GradientType=0);
    background-color: #353238;
}

.mLinkButton:active {
    position: relative;
    top: 1px;
}

.img-divide-center{
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.triple-img {
    position: relative;
    top: -25px;
    right: -20px;
}

.back-button-thursday {
    background: url("~/Content/Content-images/JazzImages/DetailPage/DividerSideStripesBackArrow.png")
}

.book-now-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

