@model IEnumerable<HFWebsiteA7.Models.Concert>

@{
    ViewBag.Title = "Jazz@Patronaat";
}

<h2>Jazz@Patronaat</h2>

@Html.ActionLink("Thursday", "Thursday")


@Html.ActionLink("Friday", "Friday")


@Html.ActionLink("Saturday", "Saturday")


@Html.ActionLink("Sunday", "Sunday")