
@{
    ViewBag.Title = "Reservation";
}

<div class="container">
    <h2>Ticket information - Saturday</h2>
    <p>There are multiple types of tickets available for  Jazz@Patronaat. You can buy one of the 2 types of tickets: passe-partout tickets or a single tickets for a concert.</p>

    <h3>Passe-partout tickets</h3>
    <p>A passe-partout ticket for a day cost €35. If you want a passe-partout ticket for Thursday, Friday and Saturday the price is €80.</p>

    <h3>Regular ticket</h3>
    <p>A regular ticket cost between €10 and €15. It depends on which hall the artists performs.</p>

    <h3>Insert amount of pass-partout tickets</h3>
    <div class="col-cm-6">
        <table class="table">
            <tr>
                <th>
                    <b>Tickets</b>
                </th>
                <th>
                    <b>Type</b>
                </th>
                <th>
                    <b>Price</b>
                </th>
            </tr>

            <tr>
                <th>
                    0
                </th>
                <th>
                    <p>Passe-partout for a day</p>
                </th>
                <th>
                    €35,00
                </th>
            </tr>

            <tr>
                <th>
                    0
                </th>
                <th>
                    <p>Passe-partout for Thursday, Friday and Saturday</p>
                </th>
                <th>
                    €80,00
                </th>
            </tr>
        </table>
    </div>
</div>
