
@{
    ViewBag.Title = "Basket";
}

<div class="container">
    <div class="col-sm-6">
        <h2>Your shopping</h2>
        <p>On this page you can view and edit the items in your basket.</p>
    </div>
    <div class="col-sm-2">
        <img class="triple-img" src="~/Content/Content-images/JazzImages/Index/leftImageJazzIndex.jpg" alt="JazzInformationImage" width="150" height="150">
    </div>
    <div class="col-sm-2">
        <img class="triple-img" src="~/Content/Content-images/JazzImages/Index/middleImageJazzIndex.jpg" alt="JazzInformationImage" width="150" height="150">
    </div>
    <div class="col-sm-2">
        <img class="triple-img" src="~/Content/Content-images/JazzImages/Index/rightImageJazzIndex.jpg" alt="JazzInformationImage" width="150" height="150">
    </div>

    <div>
        <div class="col-sm-3">
            <img class="" src="~/Content/Content-images/JazzImages/Index/DividerSideStripes.png" alt="JazzInformationImage" width="240" height="77">
        </div>
        <div class="col-sm-6">
            <img class="" src="~/Content/Content-images/Home/BasketInformation.jpg" alt="JazzInformationImage" width="515" height="66">
        </div>
        <div class="col-sm-3">
            <img class="" src="~/Content/Content-images/JazzImages/Index/DividerSideStripes.png" alt="JazzInformationImage" width="240" height="77">
        </div>
    </div>

    <div>
        <table class="table">
            <tr>
                <th>
                    <b>Tickets</b>
                </th>
                <th>
                    <b>Event</b>
                </th>
                <th>
                    <b>Date and time</b>
                </th>
                <th>
                    <b>Price</b>
                </th>
            </tr>
        </table>
    </div>

    <div>
        <h4>You could also:</h4>
    </div>
    <div>
        <div class="col-sm-3">
            <div>
                <h4>Go to dinner</h4>
            </div>
        </div>
    </div>

</div>