@model HFWebsiteA7.ViewModels.CheckoutViewModel

@{
    ViewBag.Title = "Checkout";
}

@section Banner {
    <div style="margin-top: 50px; background-image: url(../../Content/Content-images/Home/IndexBanner.jpg); background-repeat: round; height: 300px"></div>
}

<div class="container">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-6">
            <h2>Please fill in the fields below</h2>
            <p>Please provide the following information so we can book the ticket on your name and mail them to your e-mail address.</p>

                    <p>Email:</p>
                    @Html.TextBoxFor(m => m.Email)
                    <br><br>
            
        </div>

        <div class="col-sm-6">
            <h2>Payment</h2>
            <p>Please select a payment method:</p>

            <select>
                <option value="Ideal">iDeal</option>
                <option value="Paypal">Paypal</option>
                <option value="BankTransfer">Bank Transfer</option>
                <option value="Mastercard">Mastercard</option>
                <option value="Mastercard">Bitcoin</option>
            </select>

        </div>
    </div>


    <div class="row">
        <button class="mLinkButton" onclick="goBack()">Go Back</button>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
        <input type="submit" value="Confirm reservation" class="mLinkButtonBasket" />
    </div>
}
</div>