<div class="container">
    <div class="col-sm-6">
        <h2>Your message has been send</h2>
        <p>We will answer your question as soon as possible.</p>
    </div>
    <div class="col-sm-2">
        <img class="triple-img" src="~/Content/Content-images/JazzImages/Index/leftImageJazzIndex.jpg" alt="JazzInformationImage" width="150" height="150">
    </div>
    <div class="col-sm-2">
        <img class="triple-img" src="~/Content/Content-images/JazzImages/Index/middleImageJazzIndex.jpg" alt="JazzInformationImage" width="150" height="150">
    </div>
    <div class="col-sm-2">
        <img class="triple-img" src="~/Content/Content-images/JazzImages/Index/rightImageJazzIndex.jpg" alt="JazzInformationImage" width="150" height="150">
    </div>
</div>
