
@{
    ViewBag.Title = "Contact";
}

@section Banner {
    <div style="margin-top: 50px; background-image: url(../../Content/Content-images/Home/ContactBanner.jpg); background-repeat: round; height: 300px"></div>
}

<div class="container">
    <div class="col-sm-6">
        <h2>Contact us!</h2>
        <p>Fill in the form below to contact us, one of our staff members will answer your question as fast as possible.</p>
    </div>
    <div class="col-sm-2">
        <img class="triple-img" src="~/Content/Content-images/JazzImages/Index/leftImageJazzIndex.jpg" alt="JazzInformationImage" width="150" height="150">
    </div>
    <div class="col-sm-2">
        <img class="triple-img" src="~/Content/Content-images/JazzImages/Index/middleImageJazzIndex.jpg" alt="JazzInformationImage" width="150" height="150">
    </div>
    <div class="col-sm-2">
        <img class="triple-img" src="~/Content/Content-images/JazzImages/Index/rightImageJazzIndex.jpg" alt="JazzInformationImage" width="150" height="150">
    </div>

    <div>
        <div class="col-sm-3">
            <img class="" src="~/Content/Content-images/JazzImages/Index/DividerSideStripes.png" alt="JazzInformationImage" width="240" height="77">
        </div>
        <div class="col-sm-6">
            <img class="" src="~/Content/Content-images/Home/ContactInformation.jpg" alt="JazzInformationImage" width="515" height="66">
        </div>
        <div class="col-sm-3">
            <img class="" src="~/Content/Content-images/JazzImages/Index/DividerSideStripes.png" alt="JazzInformationImage" width="240" height="77">
        </div>
    </div>

    <div style="margin-top: 240px">
        <div class="col-sm-5">
            <p>
                <b>Contact form</b><br />
                Please fill in the fields below. The fields with a * are required. These fields are required so we can get in contact with you to answer your question.
            </p>
            <form style="width: auto">
                <label>Name:</label><br>
                <input type="text" name="name"><br>
                <label>Email:</label><br>
                <input type="email" name="email"><br>
                <label>Subject:</label><br>
                <input type="text" name="subject"><br>
                <label>Question:</label><br>
                <textarea name="question" rows="5" cols="100"></textarea><br/><br/>
                @Html.ActionLink("Send", "ContactSend", "Home", null , new { @class = "mLinkButton" })

            </form>
        </div>
        <div class="col-sm-2 text-center">
            <img class="" src="~/Content/Content-images/Home/VerticalLine.jpg" alt="JazzInformationImage" width="20" height="376" style="vertical-align: central">
        </div>
        <div class="col-sm-5">
            <p>
                <b>Contact information</b><br />
                info@haarlemfestival.nl<br/>
                +31 023 - 5241020<br />
                <br />
                Head Office<br />
                Zijlweg 7<br />
                1234 AA Haarlem<br />
            </p>
        </div>
    </div>
</div>

