@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="col-sm-3 home-quad-img">
        <img src="~/Content/Content-images/Home/HomeImage1.jpg" alt="JazzInformationImage" width="250" height="180">
        <h3>Jazz@Patronaat</h3>
        <p style="min-height: 120px">Over 18 band are performing at Jazz@Patronaat. The first 3 days are in the Patronaat spread over 2 halls, on Sunday this event will take place at the Grote Markt in the centre of Haarlem.</p>
        <a href="@Url.Action("Index", "Concerts")" class="mLinkButton">More info</a>
    </div>
    <div class="col-sm-3 home-quad-img">
        <img src="~/Content/Content-images/Home/HomeImage2.jpg" alt="JazzInformationImage" width="250" height="180">
        <h3>Dinner in Haarlem</h3>
        <p style="min-height: 120px">If you like food then Dinner in Haarlem will be something you like. With special menus in eight different restaurants, all located in the city center. </p>
        <a href="@Url.Action("Index", "Concerts")" class="mLinkButton">More info</a>
    </div>
    <div class="col-sm-3 home-quad-img">
        <img src="~/Content/Content-images/Home/HomeImage3.jpg" alt="JazzInformationImage" width="250" height="180">
        <h3>Talking Haarlem</h3>
        <p>Sadly not this year...</p>
    </div>
    <div class="col-sm-3 home-quad-img">
        <img src="~/Content/Content-images/Home/HomeImage4.jpg" alt="JazzInformationImage" width="250" height="180">
        <h3>Historic Haarlem</h3>
        <p>Sadly not this year...</p>
    </div>
</div>